<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>College Query</title>
    <link rel="stylesheet" href="css/styles1.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/"><h1>This is the header</h1></a>
        <a href="/login"><button>Ask/Answer Questions</button></a>
        <a href="/sections"><button>View Questions</button></a>
        <a href="/register"><button>Sign In</button></a>
      </nav>
    </header>